.logo h1 {
  color: var(--primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  flex-grow: row;
  align-items: center;
  max-width: 500px;
  border-radius: 28px;
  padding: 5px 10px;
  width: 100%;
  max-width: 400px;
  background-color: var(--gray-color);
}

.search-bar svg {
  cursor: pointer;
}

.search-input {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.header ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header ul li a {
  text-decoration: none;
}
